<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Need It Quick!{% endblock %}</title>

{% import 'macros.jinja2.html' as macros %}

{# Set the class for the body tag #}
{% set body_class = request.endpoint %}

{# Add a class if we are dev mode #}
{% set body_class = body_class ~ " developer_mode" if config.DEVELOPER_MODE else body_class %}

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/needit_quick.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block extra_css %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="{{body_class}}">

    {% block body %}

        {% block header %}
        <nav class="navbar navbar-expand-xs fixed-top navbar-light bg-light">
            <div class="container-fluid">
                <!-- Brand line and mobile nav toggle -->
                <div class="navbar-left">
                    {% block back_button %} <button type="button" class="btn btn-link"><span> </span>{% endblock %}
                </div> <!-- /.navbar-header -->
                <div class="navbar-center">
                    <div class="navbar-text">{{ self.title() }}</div>
                </div>
                <div class="navbar-right">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="btn btn-light" href="#" id=="dropdownBOIZ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></a>          
                            <div class="dropdown-menu dropdown-menu-right" aria-labelby="dropdownBOIZ">
                                <a class="dropdown-item" href="{{ url_for('home_page') }}">Home</a>
                            </div>              
                        </li>
                    </ul>
                </div>
            </div>
        </nav> <!-- /.navbar -->

        {% endblock %}

        <div class="container main_body">

        {% block main_body %}
            {{ macros.render_flash() }}
        {% endblock %}
        </div> <!-- /.container.main_body -->

    {% endblock %}


        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
    </body>
</html>

